DB_FLORA_ANNOTATION="flora_annotation"
DB_FLORA_ANNOTATION_USER="user"
DB_FLORA_ANNOTATION_PASSWORD="password"
DB_FLORA_ANNOTATION_HOST="mysql"
DB_FLORA_ANNOTATION_PORT="3306"
DB_MOODLE="moodle"
DB_MOODLE_USER="user"
DB_MOODLE_PASSWORD="password"
DB_MOODLE_HOST="mysql"
DB_MOODLE_PORT="3306"